.order-form {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}
.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.order-form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.order-form__header {
  text-align: center;
}

.label {
  font-size: 14px;
  font-weight: 700;
}

.order-form__pickup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #417ef00c;
  border-radius: 40px;
  padding: 20px;
  border-bottom: 1px solid black;
}
.order-form__pickup-title {
  font-size: 24px;
  font-weight: 700;
}

.pickup-field {
  margin-top: 4px;
  border-radius: 7px;
  border-bottom: 1px solid black;
  background: rgba(255, 0, 0, 0.13);
  padding: 12px;
  width: 100%;
  font-weight: bold;
  transition: all 0.5s;
}

.order-form__pickup-properties {
  display: flex;
  gap: 10px;
}

.order-form__pickup-additional {
  display: flex;
  justify-content: space-between;
}

.order-form__pickup-note {
  height: 100px;
  margin-bottom: 20px;
}

.order-form__destination {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #417ef00c;
  border-radius: 40px;
  padding: 20px;
  border-bottom: 1px solid black;
}
.order-form__destination-title {
  font-size: 24px;
  font-weight: 700;
}

.destination-field {
  margin-top: 4px;
  border-radius: 7px;
  border-bottom: 1px solid black;
  background: rgba(43, 28, 243, 0.13);
  padding: 12px;
  width: 100%;
  font-weight: bold;
  transition: all 0.5s;
}

.order-form__pay-cash {
  display: flex;
  gap: 10px;
  background-color: #417ef015;
  border-radius: 10px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.order-form__submit {
  display: flex;
  flex-direction: column;
  background-color: #417ef010;
  border-radius: 10px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.order-form__destination-properties {
  display: flex;
  gap: 10px;
}

.order-form__destination-additional {
  display: flex;
  justify-content: space-between;
}

.order-form__destination-note {
  height: 100px;
  margin-bottom: 20px;
}

.order-form__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #417ef010;
  border-radius: 40px;
  padding: 20px;
  border-bottom: 1px solid black;
  width: 100%;
}
.info-field {
  margin-top: 4px;
  border-radius: 7px;
  border-bottom: 1px solid black;
  background: rgba(248, 60, 69, 0.13);
  padding: 12px;
  width: 100%;
  font-weight: bold;
  transition: all 0.5s;
}

.order-form__info-title {
  font-size: 24px;
  font-weight: 700;
}

.order-form__error {
  color: red;
  font-weight: bold;
}

.info-field:hover,
.pickup-field:hover {
  background: rgba(248, 60, 69, 0.384);
}
.destination-field:hover {
  background: #417ef063;
}

.info-field:focus,
.pickup-field:focus {
  background: rgba(248, 60, 69, 0.411);
}

.destination-field:focus {
  background: #417ef080;
}
textarea:focus {
  outline: none;
}
